<div class="card shadow">
  <div class="card-header">
    <h4>
      New
      Service
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', service: @service %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', services_path, class: 'btn btn-sm btn-secondary' %>
  </div>
</div>
