<div class="container-fluid">
  <h1>
    Hello World!
  </h1>
  <%= link_to "Privacy Policy", privacy_policy_path, class: "btn btn-lg btn-warning" %>
  <%= link_to privacy_policy_path, class: "btn btn-lg btn-warning" do %>
    <i class="fas fa-file-word"></i>
    Privacy Policy
  <% end %>
</div>
<h1>Example heading <span class="badge badge-secondary">New</span></h1>
<h2>Example heading <span class="badge badge-secondary">New</span></h2>
<h3>Example heading <span class="badge badge-secondary">New</span></h3>
<h4>Example heading <span class="badge badge-secondary">New</span></h4>
<h5>Example heading <span class="badge badge-secondary">New</span></h5>
<h6>Example heading <span class="badge badge-secondary">New</span></h6>
<button type="button" class="btn btn-primary">
  Notifications <span class="badge badge-light">4</span>
</button>
