<div class="text-center">
  <h1>
    Ruby on Rails 6 User Management app
  </h1>
</div>

<hr>
<div class="text-center">
  <h2>Core features</h2>
  <div class="row">
    <div class="col-md-6">
      <h2>Authentication</h2>
      <ul>
        <li>Log in with email</li>
        <li>Log in with Google</li>
        <li>Log in with Facebook</li>
        <li>Log in with Twitter</li>
        <li>Log in with Github</li>
        <li>Invisible Recaptcha</li>
        <li>Email address confirmations</li>
        <li>Users can be invited, banned, unbanned, deleted</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Authorization</h2>
      <ul>
        <li>User roles</li>
        <li>Admin can edit user roles</li>
        <li>Role-based access to different features</li>
      </ul>
    </div>
  </div>
</div>
