<div class="container-fluid">
  <h1>
    Ruby on Rails 6 User Management app
  </h1>
  <%= link_to "Privacy Policy", privacy_policy_path, class: "btn btn-lg btn-warning" %>
  <%= link_to privacy_policy_path, class: "btn btn-lg btn-warning" do %>
    <i class="fas fa-file-word"></i>
    Privacy Policy
  <% end %>
</div>

<div class="text-center">
  <h2>Core features</h2>
  <div class="row">
    <div class="col-md-6">
      <h2>Authentication</h2>
      <ul>
        <li>Log in with email</li>
        <li>Log in with Google</li>
        <li>Log in with Facebook</li>
        <li>Log in with Twitter</li>
        <li>Log in with Github</li>
        <li>Invisible Recaptcha</li>
        <li>Email address confirmations</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Authorization</h2>
      <ul>
        <li>User roles</li>
        <li>Admin can edit user roles</li>
        <li>Admin can ban users</li>
        <li>Admin can delete users</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Invitations</h2>
      <ul>
        <li>Users can be invited to join the app</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Image uploads</h2>
      <ul>
        <li>Users can upload an avatar</li>
        <li>Users can edit their profile</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Search & Sort Users</h2>
      <ul>
        <li>Users can found by email or name</li>
        <li>Users can sorted</li>
      </ul>
    </div>
  </div>
</div>


