<!--<div class="card shadow">-->
<!--  <div class="card-header">-->
<!--    <h4>-->
<!--      Edit-->
<!--      Classroom-->
<!--    </h4>-->
<!--  </div>-->
<!--  <div class="card-body">-->
    <%#= render 'form', classroom: @classroom %>
<!--  </div>-->
<!--  <div class="card-footer">-->
    <%#= link_to 'Cancel', @classroom, class: 'btn btn-sm btn-secondary' %>
<!--  </div>-->
<!--</div>-->
