<div class="card shadow">
  <div class="card-header">
    <h4>
      Classroom
    </h4>
  </div>
  <div class="card-body">
  
    <b>Name:</b>
    <%= @classroom.name %>
    <br>
  
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_classroom_path(@classroom), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', @classroom, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
