<div class="card shadow">
  <div class="card-header">
    <h4>
      Edit
      Lesson
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', lesson: @lesson %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', @course, class: 'btn btn-sm btn-secondary' %>
    <%= link_to 'Delete', [@course, @lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
