<div class="card shadow">
  <div class="card-header">
    <h4>
      New
      Lesson
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', lesson: @lesson %>
  </div>
  <div class="card-footer">
    <%= link_to 'Cancel', @course, class: 'btn btn-sm btn-secondary' %>
  </div>
</div>
