<div class="card shadow">
  <div class="card-header">
    <h4>
      Edit
      Course
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', course: @course %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @course, class: 'btn btn-sm btn-secondary' %>
    <%= link_to 'Back', courses_path, class: 'btn btn-sm btn-secondary' %>
  </div>
</div>
