 <footer class="text-light" style="background-color: #25364a;">
  <br>
  <div class="container-fluid text-center">
    <div style="display: flex;
      align-items: center;
      justify-content: space-around;">
      <h4>Raman Khmialnitski 2022</h4>
      <h4>BSUIR</h4>
    </div>
  </div>
  <br>
</footer>
